
// fuentes
$main-font: 'Franklin Gothic Medium';


// Colores
$main-color: #34623F;
$secondary-color:#B39C4D;
$grey: #b4a67b;
$dark-grey: #595c4b;
$black: #000000;
$white: #ffff;

//Separacion
$separation: 5rem;

// media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;